/data/
/archiv/
/.settings/
archiv/
.settings/
logs/
/logs/
target/
/target/
web/
/web/
reports/
/reports/
/src/main/java/org/rogatio/circlead/control/synchronizer/atlassian/Constant.java
/Stundenplan_GBH_Datenbank.xlsx
/exports/
