/data/
/archiv/
/.settings/
/logs/
/target/
/web/
/reports/
/src/main/java/org/rogatio/circlead/control/synchronizer/atlassian/Constant.java
/exports/
/gebetshaus.credentials
/rogatio.credentials

/circlead.properties
/runtime.properties
/yed/
